.container {
  width: 50%;
  padding: 0.2em;
}

.container:hover {
  transform: scale(1.02);
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  width: 100%;
  margin-bottom: 0.2em;
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.thumbnails {
  width: 40%;
}

.title,
.channelTitle {
  margin: 0;
}

.channelTitle {
  font-size: 0.9rem;
}
