.videos {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  justify-content: center;
  margin: 0;
}

@media screen and (max-width: 750px) {
  .videos {
    display: flex;
    flex-direction: column;
  }
}
